<!-- 404 page -->

{{ partial "header.html" . }}

<div id="main">
  <div id="content">
    <div>
      <article role="article">
        <header>
          <h2 class="entry-title">
            {{ with .Site.Params.notFoundHeader }}
              {{ . | markdownify }}
            {{ else }}
             Страница не найдена 
            {{ end }}
          </h2>
        </header>
        <div id="blog-archives" class="category">
          {{ with .Site.Params.notFoundText }}
            {{ . | markdownify }}
          {{ else }}
           Попробуйте воспользоваться меню для поиска нужной информации.
          {{ end }}
        </div>
      </article>
    </div>
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ partial "footer.html" . }}